.lightup {
  opacity: 0.4;
}
h1 {
  font-size: 48px;
}
.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  min-width: 280px;
  text-align: center;
  padding-top: 90px;
  background-color: #131313;
  height: 100%;
  position: relative;
  left: 10%;
  display: inline-block;
}
.sidebar * {
  margin-top: 15px;
}
.sidebar .checkbox {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  width: 24px;
  height: 25px;
  position: relative;
  top: 8px;
  background-color: #b4ff69;
  color: #131313;
  border-radius: 3px;
}
.sidebar .checkbox:hover {
  cursor: pointer;
}
.sidebar .checkbox .check {
  height: 25px;
  font-size: 22px;
  position: relative;
  top: -7px;
}
.sidebar .gameBtn {
  border: 1px solid #b4ff69;
  background-color: #131313;
  color: #e8e8e8;
  border-radius: 5px;
  display: block;
  position: relative;
  left: 33%;
  top: 40px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 40px;
  font-family: 'Cute Font', sans-serif;
  font-size: 22px;
}
.sidebar .gameBtn:hover:disabled {
  cursor: no-drop;
}
.sidebar .gameBtn:first-of-type {
  margin-top: 40px;
}
.sidebar .gameBtn:active {
  background-color: #b4ff69;
  color: #131313;
}
.sidebar img {
  display: block;
  cursor: pointer;
  width: 38px;
  height: 38px;
  transition: 0.3s ease;
  margin: 7px auto;
  border: 2px solid #1DA1F2;
  border-radius: 20%;
}
.sidebar img:hover {
  border: dotted #1DA1F2;
  border-radius: 50%;
}
.sidebar .message {
  margin-top: 80px;
  height: 60px;
  font-size: 48px;
}
.sidebar .twitter {

}
.game {
  height: 450px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  top: 75px;
  left: 15%;
  padding: 0;
  margin: 30px;
}
.colorBtn {
  width: 40%;
  height: 40%;
  margin: 0 15px;
  padding: 0;
  outline: none;
  border: #1c1c1c;
  border-radius: 5px;
}
.colorBtn:hover:enabled {
  cursor: pointer;
}
.colorBtn:active {
  opacity: 0.4;
}
.highScore {
  color: red;
}


@media screen and (max-width: 845px) {
  body {
    font-size: 1.5em;
  }
  h1 {
    font-size: 1.5em;
  }
  .sidebar {
    width: 300px;
    height: 20%;
    margin: 0 auto;
    padding-top: 80px;
    background-color: #1c1c1c;
    left: 0;
    top: -8%;
    display: block;
  }

  .sidebar * {
    margin-top: 0px;
  }
  .sidebar .checkbox {
    width: 20px;
    height: 20px;
    top: 5px;
  }
  .sidebar .checkbox .check {
    top: -3px;
  }
  .sidebar .ctrlBtn {
    margin: 0 auto;
    position: static;
  }
  .sidebar .ctrlBtn .gameBtn {
    position: static;
    display: inline-block;
    height: 30px;
    width: 60px;
    margin: 5px;
  }
  .sidebar .message {
    height: 40px;
    margin-top: 0;
    font-size: 1.5em;
  }
  .sidebar .twitter img{
    width: 20px;
    height: 20px;
  }
  .game {
    position: static;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 445px) {
  .game {
    margin-top: 0;
  }
}