.lightup {
  opacity: 0.4;
}

h1 {
  font-size: 48px;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  min-width: 280px;
  text-align: center;
  padding-top: 90px;
  background-color: #131313;
  height: 100%;
  position: relative;
  left: 10%;
  display: inline-block;
}

.sidebar * {
  margin-top: 15px;
}

.sidebar .checkbox {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  width: 24px;
  height: 25px;
  position: relative;
  top: 8px;
  background-color: #b4ff69;
  color: #131313;
  border-radius: 3px;
}

.sidebar .checkbox:hover {
  cursor: pointer;
}

.sidebar .checkbox .check {
  height: 25px;
  font-size: 22px;
  position: relative;
  top: -7px;
}

.gameBtn {
  border: 1px solid #b4ff69;
  background-color: #131313;
  color: #e8e8e8;
  border-radius: 5px;
  display: block;
  position: relative;
  left: 33%;
  top: 18px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 40px;
  font-family: 'Cute Font', sans-serif;
  font-size: 22px;
}

.gameBtn:hover:disabled {
  cursor: no-drop;
}

.gameBtn:first-of-type {
  margin-top: 40px;
}

.gameBtn:active {
  background-color: #b4ff69;
  color: #131313;
}

.sidebar .twitter {
  margin-top: 66px;
}

.sidebar img {
  display: block;
  cursor: pointer;
  width: 38px;
  height: 38px;
  transition: 0.3s ease;
  margin: 7px auto;
  border: 2px solid #1DA1F2;
  border-radius: 20%;
}

.sidebar img:hover {
  border: dotted #1DA1F2;
  border-radius: 50%;
}

.game {
  height: 400px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 15%;
  background-clip: padding-box;
}

.colorBtn {
  outline: none;
  border: #1c1c1c;
  margin: 25px;
  display: inline-block;
  border-radius: 5px;
}

.colorBtn:hover:enabled{
  cursor: pointer;
}

.colorBtn:active {
  opacity: 0.4;
}

.highScore {
  color: red;
}

@media screen and (max-width: 910px) {
  .game {

  }
}